@font-face {
    font-family: 'LibreBaskerville';
    font-style: 700;
    font-weight: normal;
    src: local('LibreBaskerville'), url('./libre/LibreBaskerville-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'LibreBaskerville';
    font-style: 400;
    font-weight: normal;
    src: local('LibreBaskerville'), url('./libre/LibreBaskerville-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'LibreBaskerville';
    font-style: italic;
    font-weight: normal;
    src: local('LibreBaskerville'), url('./libre/LibreBaskerville-Italic.ttf') format('truetype');
}

@font-face {
    font-family: 'Manrope';
    font-weight: 300;
    src: local('Manrope'), url('/src/assets/fonts/Manrope/static/Manrope-Light.ttf');

}

@font-face {
    font-family: 'Manrope';
    font-weight: 400;
    src: local('Manrope'), url('/src/assets/fonts/Manrope/static/Manrope-Regular.ttf');

}

@font-face {
    font-family: 'Manrope';
    font-weight: 500;
    src: local('Manrope'), url('/src/assets/fonts/Manrope/static/Manrope-Medium.ttf');

}

@font-face {
    font-family: 'Manrope';
    font-weight: 600;
    src: local('Manrope'), url('/src/assets/fonts/Manrope/static/Manrope-SemiBold.ttf');

}

@font-face {
    font-family: 'Manrope';
    font-weight: 700;
    src: local('Manrope'), url('/src/assets/fonts/Manrope/static/Manrope-Bold.ttf');

}

@font-face {
    font-family: 'Manrope';
    font-weight: 900;
    src: local('Manrope'), url('/src/assets/fonts/Manrope/static/Manrope-ExtraBold.ttf');
}